<div class="d-flex justify-content-left align-items-center border-bottom" style="height: 10vh">
	<h3 class="fs-1 fw-semibold m-0">NavBar</h3>
	<button type="button" class="btn btn-outline-dark">Login</button>
</div>

@code {

}
