@using Shared.Models.DTOs
@using TTTFrontend.Components.Scenes
@using Shared.Models
@using TTTFrontend.Services
@inject SceneService SceneService
@inject SelectedSceneService SelectedSceneService

<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 20vw; height: 100vh;">
    <div class="d-flex justify-content-center align-items-center flex-shrink-0 text-decoration-none border-bottom border-end" style="height: 10vh;">
        <h3 class="fs-1 fw-semibold m-0">Scenes</h3>
    </div>

    <div class="list-group list-group-flush overflow-auto flex-grow-1 border-end">
        @if (Scenes == null)
        {
            <div>Loading...</div>
        }
        else if (!Scenes.Any())
        {
            <div>No scenes available.</div>
        }
        else
        {
            @foreach (var scene in Scenes)
            {
                <button class="list-group-item list-group-item-action"
                        @onclick="() => LoadSceneDetails(scene.Id)">
                    @scene.Name (@scene.CreatedAt.ToString("yyyy-MM-dd"))
                </button>
            }
        }
        <SceneCreateButton OnSceneCreated="RefreshSceneList" />
    </div>
</div>

@code {
    private List<SceneListItemDTO> Scenes;

    protected override async Task OnInitializedAsync()
    {
        await RefreshSceneList();
    }

    private async Task RefreshSceneList()
    {
        Scenes = await SceneService.GetScenesListAsync();
    }

    private async Task LoadSceneDetails(Guid sceneId)
    {
        var sceneDetails = await SceneService.GetSceneAsync(sceneId);
        SelectedSceneService.SelectedScene = sceneDetails;
    }
}