@using Microsoft.AspNetCore.Components.Authorization
@using TTTFrontend.Components
@using TTTFrontend.Services
@inject UserSoundsService UserSoundsService
@inject SelectedUserSoundsService SelectedUserSoundsService
@inject CustomAuthenticationStateProvider AuthenticationStateProvider

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated ?? false)
        {
            var response = await UserSoundsService.GetUserSoundsAsync();
            if (response.Success)
            {
                await SelectedUserSoundsService.SetUserSoundsAsync(response.Data);
            }
        }
    }
}