@inherits LayoutComponentBase
@using TTTFrontend.Components.Layout

<div class="page">
    <div>
         <SidebarComponent />
    </div>

    <main>
        <div>
            <NavBarComponent/>
        </div>

        <div>
            @Body
        </div>
    </main>
</div>
