@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using TTTFrontend.Components.Layout

<div class="page">
    @if (!HideLayout)
    {
        <div>
            <SidebarComponent />
        </div>
    }

    <main>
        @if (!HideLayout)
        {
            <div>
                <NavBarComponent />
            </div>
        }

        <div>
            @Body
        </div>
    </main>
</div>

@code {
    private bool HideLayout => Navigation.Uri.EndsWith("/login") || Navigation.Uri.EndsWith("/register");
}
