<div class="border-bottom border-end overflow-auto flex-grow-1" style="width: 20vw; height: 90vh">
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
	<h3>SoundEffects</h3>
</div>
@code {

}
