@using Shared.Models.DTOs;
@using TTTFrontend.Services;
@inject SelectedSceneService SelectedSceneService

<div class="d-flex flex-column justify-content-between">
    @if (SelectedSceneService.SelectedScene != null)
    {
        <div class="d-flex flex-row">
            <MusicSoundsComponent MusicTracks="SelectedSceneService.MusicTracks" />
            <AmbientSoundsComponent AmbientSounds="SelectedSceneService.AmbientSounds" />
            <ActionSoundsComponent ActionSounds="SelectedSceneService.ActionSounds" />
            <SoundPresetsComponent />
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        SelectedSceneService.OnSceneChanged += StateHasChanged;
    }

    public void Dispose()
    {
        SelectedSceneService.OnSceneChanged -= StateHasChanged;
    }
}