@using Shared.Models.DTOs

<div class="border-bottom border-end" style="width: 20vw; height: 80vh">
    <h3 class="text-center py-1 m-0">Music Tracks</h3>
    @if (MusicTracks != null && MusicTracks.Any())
    {
        <ul>
            @foreach (var track in MusicTracks)
            {
                <li>@track.Name</li>
            }
        </ul>
    }
    else
    {
        <p class="text-center">No action sounds available.</p>
    }

</div>

@code {
    [Parameter]
    public List<AudioFileResponseDTO> MusicTracks { get; set; }
}